.loading-container {
    margin: 0;
    padding: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/Splashimage.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: white; 
    font-family: Arial, sans-serif;
}

.loading-letters {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.loading-letter {
    list-style: none;
    font-weight: 400;
    float: left;
    background: #001e28;
    padding: 10px 15px;
    font-size: 20px; /* Base font size */
    margin: 10px;
    color: beige;
    animation: animate 1s infinite alternate;
    -webkit-perspective: 300px;
}

@keyframes animate {
    from {
        transform: scale(1) translateY(0) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
    to {
        transform: scale(1.35) translateY(-25px) rotateX(45deg);
        box-shadow: 0 30px 5px rgba(0, 0, 0, 0.1);
    }
}

.loading-letters li:nth-child(1) { animation-delay: .1s; background-color: #DC143C; }
.loading-letters li:nth-child(2) { animation-delay: .2s; background-color: #FFD700; }
.loading-letters li:nth-child(3) { animation-delay: .3s; background-color: #00FF00; }
.loading-letters li:nth-child(4) { animation-delay: .4s; background-color: #1E90FF; }
.loading-letters li:nth-child(5) { animation-delay: .5s; background-color: #FF69B4; }
.loading-letters li:nth-child(6) { animation-delay: .6s; background-color: #4B0082; }
.loading-letters li:nth-child(7) { animation-delay: .7s; background-color: #FF4500; }
.loading-letters li:nth-child(8) { animation-delay: .8s; background-color: #FFD700; }

@media (max-width: 768px) {
    .loading-letters {
        font-size: 10px; }
    
    .loading-letters li {
        text-align: center;
        margin: 2px;
        padding: 2px 4px;
        font-size: 12px; 
    }
}
